<!DOCTYPE html5>
<html>

<head>
    <title>the login page</title>
    <link rel="stylesheet" href="login_page_style.css">
    <script src="loginjs.js"></script>
</head>

<body>
    <div class="back">
        <h1>XYZ</h1>
        <div class="login">
            <img src="ppicture.png" alt="profile picture" id="img1">
            <h2>Login to your XYZ account</h2>
            <div id="loginInfo">
                <form action="/login" method="post">
                    <input type="text" class="fields" name="username" placeholder="Username" autofocus required><br><br>
                    <input type="password" class="fields" name="password" placeholder="Password" required><br><br>
                    <input type="submit" value="Login" class="loginbtn">
                </form>
            </div>
            <div id="lol">
                <a href="#" class="quests">Forgot your password?</a><br>
                <a href="/signup.html" class="quests">Don't have an account?</a><br><br>
            </div>
        </div>
    </div>
</body>

</html>