<!DOCTYPE html5>
<html>

<head>
    <title>the signup page</title>
    <link rel="stylesheet" href="login_page_style.css">
    <script src="signup.js"></script>
</head>

<body>
    <script>
        setTimeout(() => {
            document.getElementById('flash-message').style.display = 'none';
        }, 1500);
    </script>
    <div class="back">
        <span id="flash-message" style="position:fixed;color:red;top:50px;font-size:40px">
            {{{message}}}
        </span>
        <h1>XYZ</h1>
        <div class="login">
            <img src="ppicture.png" alt="profile picture" id="img1">
            <h2>Signup for an XYZ account</h2>
            <div id="loginInfo">
                <form name="signup" action="/signup" method="post" autocomplete="off" onsubmit="return validate()">
                    <input type="text" class="fields" name="name" placeholder="Full name" autofocus required><br><br>
                    <input type="text" class="fields" id="usrname" name="username" placeholder="Username" required
                        onblur="check()"> <img src="tick.png" id="usrname-tick" title="username available">
                    <div class="loader" id="load"></div><br><br>
                    <input type="password" class="fields" name="password" placeholder="Password" required><br><br>
                    <input type="password" class="fields" name="reppasswd" placeholder="re-enter Password"
                        required><br><br>
                    <input type="submit" value="Signup" class="loginbtn"><br><br>
                </form>
            </div>

        </div>
    </div>
</body>

</html>